/freepo.st-web/php-include/app/cache/*
/freepo.st-web/php-include/app/config/parameters.yml
/freepo.st-web/php-include/app/config/parameters.prod.yml
/freepo.st-web/php-include/app/logs/*
!freepo.st-web/php-include/app/cache/.gitkeep
!freepo.st-web/php-include/app/logs/.gitkeep
