{# freepost
 # http://freepo.st
 # 
 # Copyright © 2014-2015 zPlus
 # 
 # This file is part of freepost.
 # freepost is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Affero General Public License as
 # published by the Free Software Foundation, either version 3 of the
 # License, or (at your option) any later version.
 # 
 # freepost is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 # GNU Affero General Public License for more details.
 # 
 # You should have received a copy of the GNU Affero General Public License
 # along with freepost. If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends 'AppBundle:Default:Home/page.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    
    {% stylesheets
        '@AppBundle/Resources/public/css/resetPassword.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
        
{% endblock %}

{% block content %}
    <div class="resetPassword">
        
        <form action="{{ url('freepost_user_update_password') }}" method="post" target="_self" enctype="application/x-www-form-urlencoded">
            <div class="title">
                Choose your new password
            </div>
            <div class="">
                <input type="password" name="password" value="" />
            </div>
            <div class="tip">
                Five characters or more
            </div>
            <div class="title">
                Copy here the code that you have received by email
            </div>
            <div class="">
                <input type="hidden" name="head" value="{{ codeHead }}" />
                <input type="text" name="tail" value="" />
            </div>
            <div class="buttons">
                <input type="submit" class="buttonAction" value="Change password" />
            </div>
        </form>
        
    </div>
{% endblock %}






